*{
    margin: 0;
    padding: 0;
}

:root
{
    --navBg: #26519E;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--navBg);
    height: 50px;
    width: 100%;
}
.logoNav{
    width: 60%;
    background-color: yellow;
}
nav{
    width: 40%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
.logo{
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
}